<% provide(:title, "Edit Meter") %>
<div class="container">
	<h1>Update Meter</h1>
	<div class="form-group">
		<%= form_with scope: :meter, url: edit_building_meter_path, local: true do |form| %>
		  
		    <% if @building.errors.any? %>
			    <div id="error_explanation">
				      <h2>
				        <%= pluralize(@building.errors.count, "error") %> prohibited this building information from being saved:
				      </h2>
				      <ul>
				        <% @building.errors.full_messages.each do |msg| %>
				          <li><%= msg %></li>
				        <% end %>
				      </ul>
			    </div>
		    <% end %>




		<% end %>
	</div>
</div>
