<% provide(:title, "About") %>
  <h1>About us</h1>
    <p>
      Standard Energy Systems, Inc. formerly South Shore Energy Services, founded in 1996, was established to provide energy management solutions to Ohio.  We are currently exploring other markets around the U.S. We are located in Parma, Ohio. Our focus is helping property owners with energy conservation and maximizing profit. Get in touch with us today to find out how our company can be beneficial to you! 
    </p>
    <p>
      Do you need a gas, electric or water meter? Would you like information on state of the art digital metering equipment that could be read at any time? Please call us
    </p>   
    <p>
      If you'd like to learn more about us, click any item on our menu. If you have comments or questions, let us know by clicking Help tab. Thanks for visiting.
    </p>