<% provide(:title, "Contact") %>
  <h1>Contact us: </h1>
    <p>
	  Standard Energy Systems, Inc.
	  5555 State Road
	  Parma, OH 44134
	  United States
	  Phone: (216) 749-5123
	  Fax: (216) 749-5132
	  contactus@standardenergysystems.com
    </p>