<% provide(:title, "Home") %>

<div class="container">
  <h1 class="my-4">Welcome to Modern Business</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>


<footer class="footer page-footer center-on-small-only">

  <!--Footer links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-lg-7 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>About Standard Energy Systems</strong></h5>
          <p>Since 1989, Standard Energy Systems, Inc. formerly Intella Systems has been the leader in electric, water and gas submetering. We offer a wide range of products that are affordable for any size customer. From power line carrier, radio frequency, hardwired systems, modem and internet communications, we do it all.
          </p>
      </div>
      <!--/.First column-->
      <hr class="w-100 clearfix d-sm-none">
      <!--Second column-->
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong></strong></h5>
        <ul>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
        <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer links-->

  <div class="container-fluid bg-grey">
  </div>

  <!--Copyright-->
  <div class="footer-copyright">
      <div class="container-fluid">© 2017 Copyright:<p><a href="#"> StandardEnergySystems</a></p></div>
  </div>
  <!--/.Copyright-->

</footer>