<div class="container">
    
    <!--First row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-7">
            <!--Featured image -->
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">
                <div class="mask"></div>
            </div>
            <br>
        </div>

        <!--Main information-->
        <div class="col-lg-5">
            <h2 class="h2-responsive font-bold">We are professionals</h2>
            <hr>
            <p>Welcome to the home page of Standard Energy Systems, home for energy management and billing purposes.</p>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>

    <hr class="extra-margins my-5">

    <!--Second row-->
    <div class="row pt-4">
        <!--First columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.4s">

                <!--Card image-->
                <img class="img-fluid" src="http://www.bavariannews.com/wp-content/uploads/2015/12/meter-reading-2.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">Meter Reading/Billing</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">We provide automated or manual electric, water, gas and steam meter reading.</p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->

        <!--Second columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.6s">

                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">Meter Install</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">We Install electric and water meter.</p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--Second columnn-->

        <!--Third columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.8s">

                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">Meter Diagnosis</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->

    </div>
    <!--/.Second row-->

    <hr class="extra-margins my-5">

    <!--Third row-->

    <div class="container-fluid">
        <div class="text-center">
            <h3>Pricing</h3>
            <h4>Choose a payment plan that works for you</h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Basic</h1>
                    </div>
                    <div class="panel-body">

                    </div>
                    <div class="panel-footer">
                       <h3>$19</h3>
                       <h4>per month</h4>
                       <button class="btn btn-lg"><%= link_to 'Sign Up', '/signup' %></button>
                    </div>
                </div> 
            </div> 
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Pro</h1>
                     </div>
                    <div class="panel-body">

                    </div>
                    <div class="panel-footer">
                        <h3>$29</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg"><%= link_to 'Sign Up', '/signup' %></button>
                    </div>
                </div> 
            </div> 
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Premium</h1>
                    </div>
                    <div class="panel-body">

                    </div>
                    <div class="panel-footer">
                        <h3>$49</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg"><%= link_to 'Sign Up', '/signup' %></button>
                    </div>
                </div> 
            </div> 
        </div>
    </div> 

</div>